body{
    margin: 0;
    background-color: rgb(240, 177, 60);
    text-align: center;
}

/* Index */

/* Header */
#navbar{
    width: 100%;
    height: 80px;
    background-color: rgb(230, 45, 45);
    position: fixed;
}

#subnavbar{
    width: 100%;
    height: 25px;
    background-color: rgb(241, 55, 55);
    position: fixed;
    top: 80px;
}

#navbarSpace{
    width: 100px;
    height: 80px;
}

#logo{
    width: 75px;
    height: 75px;
    display: inline;
    float: left;
    margin-left: 10px;
}

#logo img{
    width: 75px;
    height: 75px;
    display: inline;
}

#logo a:hover{
    opacity: 90%;
}

#navTitle{
    font-size: 45px;
    font-family: 'Creepster', cursive;
    color: rgb(230, 230, 230);
    display: inline;
    float: left;
    margin-top: 10px;
}

#basket{
    grid-area: basket;
    width: 65px;
    height: 65px;
    display: inline;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
}

#basket p{
    color: rgb(230, 230, 230);
}

#basket img{
    width: 65px;
    height: 65px;
}

#basket img:hover{
    opacity: 90%;
}

/* Cart */
#cartContainer{
    grid-area: cart;
    width: 250px;
    background-color: rgb(230, 45, 45);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
    position: fixed;
    right: 0;

    text-align: center;
    color: rgb(240, 239, 239);
    font-family: 'Comic Neue', cursive;
    padding-top: 20px;
    padding-bottom: 20px;
}

#shopLinks{

}

#shopLinks a{
    text-decoration: none;
    color: rgb(230, 230, 230);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Creepster', cursive;
}

#shopLinks a:hover{
    opacity: 90%;
}

/* Main */

/* Shop */
h1{
    font-size: 75px;
    font-family: 'Creepster', cursive;
    color: rgb(24, 24, 24);
}

/* #shopContainer{

} */

/* Pizza */

.pizza{
    grid-area: pizza;
    font-family: 'Comic Neue', cursive;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: rgb(243, 240, 240);
    border-radius: 10px;
    height: 340px;
    width: 275px;
}

.pizza img{
    width: 275px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.pizzaTitle{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 20px;
}

.selectorContainer{
    margin-bottom: 7px;
}

.inShopSizeSelector{
    background-color: rgb(240, 239, 239);
    width: 85px;
}

.inShopBaseSelector{
    background-color: rgb(240, 239, 239);
    width: 115px;
}

.pizzaPrice{
    font-size: 15px; 
    display: inline;
}

.spacer{
    display: inline-block;
    width: 20px;
}

.inShopAddButton{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
    width: 57px;
    height: 25px;
    background-color: rgb(231, 74, 74);
    border-radius: 5px;
    border: 0;
    color: rgb(240, 239, 239);
}

.inShopAddButton:hover{
    opacity: 90%;
}

/* Sides */

.side{
    grid-area: pizza;
    font-family: 'Comic Neue', cursive;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: rgb(243, 240, 240);
    border-radius: 10px;
    height: 270px;
    width: 275px;
}

.side img{
    width: 275px;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.sideTitle{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.sidePrice{
    font-size: 15px; 
    display: inline;
}
